body {
    background: url("https://wallpaperaccess.com/full/448629.jpg");
    background-size: cover;
}

#archer {
    height: 400px;
    width: auto;
}

#jumbotron {
    opacity: 0.6;
}

.container {
    opacity: 5;
    color: black;
}